include MANIFEST.in
include README.*
include LICENSE.MIT
include python-anyconfig.spec*
include pkg/*
include python-anyconfig.spec.in
include setup.py
recursive-include anyconfig *.py
include docs/*
