include *.txt
include LICENSE.MIT
include MANIFEST.in
include NEWS
include README.*
include docs/*
include docs/api/*.*
include pkg/*
include setup.*
include tox.ini
recursive-include src *.py
# for f in tests/**/*.* ; do echo ${f/*\./*.}; done | sort | uniq
recursive-include tests *.ini *.json *.properties *.py *.sh *.toml *.xml *.yml *.bats *.txt
