PyYAML
# Disabled until all errors during tests are resolved. 
#Jinja2
configobj
jsonschema
coveralls
# flake8  # disabled until 'pkg_resources.VersionConflict' error.
mock
nose
pep8
# :see: 2.4 What versions of Python is Pylint supporting? in
# http://docs.pylint.org/faq.html#installation
pylint<1.4
simplejson
msgpack-python
