---
# .. seealso:: https://github.com/ymyzk/tox-gh-actions
#
name: Tests
# yamllint disable-line rule:truthy
on:
  - push

jobs:
  build:
    runs-on: ${{ matrix.platform }}
    strategy:
      max-parallel: 5
      matrix:
        platform:
          - ubuntu-latest
          - windows-latest
          # - macos-latest
        python-version:
          - 3.8
          - 3.9
          - "3.10"
          - "3.11"

    steps:
      - uses: actions/checkout@v1
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox tox-gh-actions
      - name: Test with tox
        run: tox
        env:
          PLATFORM: ${{ matrix.platform }}
      - uses: codecov/codecov-action@v3
        # .. seealso:: https://github.com/marketplace/actions/codecov#usage
        with:
          # token: ${{ secrets.CODECOV_TOKEN }} # not required for public repos
          # files: ./coverage1.xml,./coverage2.xml # optional
          # flags: unittests # optional
          # name: codecov-umbrella # optional
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)
